@charset "UTF-8";
@import url(../css/reset.css);
#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
}
#wrap .calendar {
  width: 1050px;
  margin: 0 auto;
}
#wrap .calendar .calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap .calendar .calendar-header button {
  width: 90px;
  border: none;
  background: #fff;
  font-size: 40px;
}
#wrap .calendar .calendar-header h2 {
  font-size: 50px;
  font-weight: bold;
}
#wrap .calendar .calendar-body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap .calendar .calendar-body .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: rgba(255, 255, 255, 0.5019607843);
  cursor: pointer;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date span {
  font-size: 20px;
  font-weight: bold;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.common-date {
  background: #fff;
  color: #000;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.sun {
  color: #f00;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.sat {
  color: rgb(59, 59, 247);
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.other-month {
  color: #999;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.selected {
  background-color: #333;
  border: 2px solid #fff;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.has-memo {
  position: relative;
}
#wrap .calendar .calendar-body .calendar-grid .calendar-date.has-memo::after {
  content: "★";
  position: absolute;
  top: 0;
  left: 50px;
  width: 30px;
  height: 30px;
  color: rgb(246, 255, 0); /* 색상을 변경하려면 여기에 원하는 색상 코드를 입력하세요 */
}
#wrap .calendar .memo-title {
  width: 100%;
  margin-top: 10px;
}
#wrap .calendar .memo-title span {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
#wrap .calendar .memo-title .memo-editor {
  margin-bottom: 10px;
}
#wrap .calendar .memo-title .memo-editor textarea {
  width: 100%;
  font-size: 20px;
  padding: 20px 0 0 10px;
  margin-bottom: 10px;
  resize: none;
}
#wrap .calendar .memo-title .memo-editor .save-btn {
  padding: 5px 10px;
  background: none;
  color: #fff;
  cursor: pointer;
}
#wrap .calendar .memo-viewer {
  width: 100%;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap .calendar .memo-viewer h2 {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #fff;
}
#wrap .calendar .memo-viewer button {
  padding: 5px 10px;
  background: none;
  color: #fff;
  cursor: pointer;
}
#wrap .calendar .memo-viewer button.edit-btn {
  margin-right: 10px;
}